#main-hbox {
    -fx-background-color: rgb(0,0,0);
}

#trackTitle {
    -fx-text-fill: rgb(255,255,255);
    -fx-font-size: 16;
    -fx-font-family: CircularSp;
    -fx-font-weight: bold;
}

#artistsHbox .hyperlink{
    -fx-font-family: CircularSp;
    -fx-text-fill: rgb(255,255,255);
    -fx-font-size: 13;
}