.split-menu-button .arrow-button {
    -fx-background-color: rgb(20,20,20);
}

.split-menu-button .button {
    -fx-background-color :rgb(20,20,20);
    -fx-text-fill : black ;
}

.split-menu-button .label {
    -fx-background-color: rgb(20,20,20);
}

.split-menu-button .menu-item {
    -fx-background-color: rgb(20,20,20);
}